*{
  margin: 0;
  padding: 0;
}

.title{
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 3rem;
}

.header{
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  margin: 0 auto;
}

.header > .filtro{
  flex: 1 1 400px;
  }

.filtro{
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.input{
  width: 18rem;
  padding: .5rem;
  margin: 2rem;
}

button{
  width: 100%;
  margin: 2rem;
}

.card{
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  margin: 0 auto;
}

.card>.flex{
  flex: 1 1 400px;
}

.flex{
  max-width: 18rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.center{
  width: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-weight: 500;
  font-size: 1.5rem;
}

.receita {
  background-color: rgb(75, 179, 75);
  color: #fff;
}

.despesa {
  background-color: rgb(190, 81, 81);
  color: #fff;
}

.saldo {
  background-color: rgb(35, 127, 177);
  color: #fff;
}
