<div class="container">

<h1>Faça seu login</h1>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput
       placeholder="Ex. pat@example.com">
      <mat-error >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input type="password" matInput
       placeholder="Ex. 123">
      <mat-error >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Entrar</button>

  </form>

</div>
